#main {
  margin-top: 60px;
  padding: 20px 30px;
  transition: all 0.3s;
}

@media (max-width: 1199px) {
  #main {
    padding: 20px;
  }
}
@media (min-width: 1200px) {
  #main,
  #footer {
    margin-left: 300px;
  }
}
@media (min-width: 1200px) {
  .toggle-sidebar #main,
  .toggle-sidebar #footer {
    margin-left: 0;
  }
}

// Actual page style
#form {
  background-color: #eef7f1;
}

#Kategori {
  height: 38px;
  border: 1px solid #ced4d9;
  border-radius: 3px;
}

#ekleButton:hover {
  box-shadow: -1px 1px 17px 0px rgba(0, 0, 0, 0.75);
}

li {
  margin-right: 3.5em;
}

li:hover {
  box-shadow: -1px 1px 17px 0px rgba(0, 0, 0, 0.75);
}

input:hover {
  border-color: rgb(106, 161, 143);
}

#loginform {
  border: 10px solid gray;
  background-color: rgb(199, 194, 194);
  opacity: 0.8;
}

#adminbody {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(89, 44, 111, 1) 46%,
    rgba(98, 29, 93, 1) 98%
  );
}

#invalidlogin {
  display: none;
}
#loginbutton {
  position: absolute;
  left: 44.5%;
  top: 430px;
}
