<div style="margin-top: 40px"></div>

<!-- navigation start -->
<div class="categories">
  <div class="category">
    <a href="#">Man</a>
    <div class="subcategories">
      <a href="#">Shirt</a>
      <a href="#">Polo-Shirt</a>
      <a href="#">T-Shirt</a>
      <a href="#">Panjabi</a>
      <a href="#">Pajama</a>
      <a href="#">Sherwani</a>
      <a href="#">Pants</a>
      <a href="#">Jaket</a>
      <a href="#">Hoodies</a>
      <a href="#">Under Ware</a>
      <a href="#">Jogger</a>
      <a href="#">Shoe</a>
      <a href="#">Wallet</a>
    </div>
  </div>
  <div class="category">
    <a href="#">Women</a>
    <div class="subcategories">
      <a href="#">Tops</a>
      <a href="#">Burqa</a>
      <a href="#">Hijab</a>
      <a href="#">Kameez</a>
      <a href="#">Unstitched Dress</a>
      <a href="#">Sarees</a>
      <a href="#">Bag</a>
      <a href="#">Shoe</a>
    </div>
  </div>
  <div class="category">
    <a href="#">Lifestyle</a>
    <div class="subcategories">
      <a href="#">Bag</a>
      <a href="#">Cap</a>
      <a href="#">Wallet</a>
    </div>
  </div>
</div>

<!-- navigation end-->

<!-- end filter -->

<!-- New Products-->
<div class="cards">
  <h2>New Products</h2>
  <div class="container">
    <div *ngFor="let v of allProducts">
      <div class="card-1 card-div" id="{{ v.id }}">
        <div (click)="shopping('formWishList', v)" class="like-icon-div">
          <label for="card-1-like" class="like-icon-div-child">
            <input type="checkbox" id="card-1-like" />
            <i class="far fa-heart heart-empty"></i>
            <i class="fas fa-heart heart-fill"></i>
          </label>
        </div>

        <div (click)="productClicked(v.id)" class="gow-img-div img-div">
          <img src="{{ v.productImage_1 }}" alt="god-of-war-figurine" />
        </div>
        <div class="text-container">
          <h2 class="item-name">{{ v.name }}</h2>
          <!-- <p class="date">{{v.di}}</p> -->
          <div class="pricing-and-cart">
            <div class="pricing">
              <p class="previous-price">{{ v.regularPrice }}</p>
              <p class="current-price">{{ v.offerPrice }}</p>
            </div>
            <div (click)="shopping('formCard', v)" style="z-index: 10000">
              <i class="fas fa-shopping-cart"></i>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Top Selling -->
<div class="cards">
  <h2>Top Selling</h2>
  <div class="container">
    <div class="card-1 card-div">
      <div class="like-icon-div">
        <label for="card-1-like" class="like-icon-div-child">
          <input type="checkbox" id="card-1-like" />
          <i class="far fa-heart heart-empty"></i>
          <i class="fas fa-heart heart-fill"></i>
        </label>
      </div>

      <div class="gow-img-div img-div">
        <img
          src="https://github.com/gerrardNwoke/codePen-imgs/blob/main/imgs/gow-figurine.png?raw=true"
          alt="god-of-war-figurine"
        />
      </div>
      <div class="text-container">
        <h2 class="item-name">Kratos and Artreus Statue - God Of War</h2>
        <p class="date">Departure date: 31/03/2021</p>
        <div class="pricing-and-cart">
          <div class="pricing">
            <p class="previous-price">$999</p>
            <p class="current-price">$599</p>
          </div>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
    </div>

    <div class="card-2 card-div">
      <div class="like-icon-div">
        <label for="card-2-like" class="like-icon-div-child">
          <input type="checkbox" id="card-2-like" />
          <i class="far fa-heart heart-empty"></i>
          <i class="fas fa-heart heart-fill"></i>
        </label>
      </div>
      <div class="sekiro-img-div img-div">
        <img
          src="https://github.com/gerrardNwoke/codePen-imgs/blob/main/imgs/sekiro-figurine.png?raw=true"
          alt="sekiro-figurine"
        />
      </div>
      <div class="text-container">
        <h2 class="item-name">Sekiro Statue - Sekiro: Shadows Die Twice</h2>
        <p class="date">Departure date: 31/03/2021</p>
        <div class="pricing-and-cart">
          <div class="pricing">
            <p class="previous-price">$50</p>
            <p class="current-price">$799</p>
          </div>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
    </div>

    <div class="card-3 card-div">
      <div class="like-icon-div">
        <label for="card-3-like" class="like-icon-div-child">
          <input type="checkbox" id="card-3-like" />
          <i class="far fa-heart heart-empty"></i>
          <i class="fas fa-heart heart-fill"></i>
        </label>
      </div>
      <div class="dazai-img-div img-div">
        <img
          src="https://github.com/gerrardNwoke/codePen-imgs/blob/main/imgs/dazai-figurine.png?raw=true"
          alt="sekiro-figurine"
        />
      </div>
      <div class="text-container">
        <h2 class="item-name">Osamu Dazai Funko Pop - Bungou Stray Dogs</h2>
        <p class="date">Departure date: 31/03/2021</p>
        <div class="pricing-and-cart">
          <div class="pricing">
            <p class="previous-price">$449</p>
            <p class="current-price">$279</p>
          </div>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
    </div>

    <div class="card-4 card-div">
      <div class="like-icon-div">
        <label for="card-4-like" class="like-icon-div-child">
          <input type="checkbox" id="card-4-like" />
          <i class="far fa-heart heart-empty"></i>
          <i class="fas fa-heart heart-fill"></i>
        </label>
      </div>
      <div class="u4-img-div img-div">
        <img
          src="https://github.com/gerrardNwoke/codePen-imgs/blob/main/imgs/u4-figurine.png?raw=true"
          alt="u4-figurine"
        />
      </div>
      <div class="text-container">
        <h2 class="item-name">
          Nathan Drake Statue - Uncharted 4: A Thief's End
        </h2>
        <p class="date">Departure date: 31/03/2021</p>
        <div class="pricing-and-cart">
          <div class="pricing">
            <p class="previous-price">$759</p>
            <p class="current-price">$499</p>
          </div>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Most Popular -->
<div class="cards">
  <h2>Most Popular</h2>
  <div class="container">
    <div class="card-1 card-div">
      <div class="like-icon-div">
        <label for="card-1-like" class="like-icon-div-child">
          <input type="checkbox" id="card-1-like" />
          <i class="far fa-heart heart-empty"></i>
          <i class="fas fa-heart heart-fill"></i>
        </label>
      </div>

      <div class="gow-img-div img-div">
        <img
          src="https://github.com/gerrardNwoke/codePen-imgs/blob/main/imgs/gow-figurine.png?raw=true"
          alt="god-of-war-figurine"
        />
      </div>
      <div class="text-container">
        <h2 class="item-name">Kratos and Artreus Statue - God Of War</h2>
        <p class="date">Departure date: 31/03/2021</p>
        <div class="pricing-and-cart">
          <div class="pricing">
            <p class="previous-price">$999</p>
            <p class="current-price">$599</p>
          </div>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
    </div>

    <div class="card-2 card-div">
      <div class="like-icon-div">
        <label for="card-2-like" class="like-icon-div-child">
          <input type="checkbox" id="card-2-like" />
          <i class="far fa-heart heart-empty"></i>
          <i class="fas fa-heart heart-fill"></i>
        </label>
      </div>
      <div class="sekiro-img-div img-div">
        <img
          src="https://github.com/gerrardNwoke/codePen-imgs/blob/main/imgs/sekiro-figurine.png?raw=true"
          alt="sekiro-figurine"
        />
      </div>
      <div class="text-container">
        <h2 class="item-name">Sekiro Statue - Sekiro: Shadows Die Twice</h2>
        <p class="date">Departure date: 31/03/2021</p>
        <div class="pricing-and-cart">
          <div class="pricing">
            <p class="previous-price">$50</p>
            <p class="current-price">$799</p>
          </div>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
    </div>

    <div class="card-3 card-div">
      <div class="like-icon-div">
        <label for="card-3-like" class="like-icon-div-child">
          <input type="checkbox" id="card-3-like" />
          <i class="far fa-heart heart-empty"></i>
          <i class="fas fa-heart heart-fill"></i>
        </label>
      </div>
      <div class="dazai-img-div img-div">
        <img
          src="https://github.com/gerrardNwoke/codePen-imgs/blob/main/imgs/dazai-figurine.png?raw=true"
          alt="sekiro-figurine"
        />
      </div>
      <div class="text-container">
        <h2 class="item-name">Osamu Dazai Funko Pop - Bungou Stray Dogs</h2>
        <p class="date">Departure date: 31/03/2021</p>
        <div class="pricing-and-cart">
          <div class="pricing">
            <p class="previous-price">$449</p>
            <p class="current-price">$279</p>
          </div>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
    </div>

    <div class="card-4 card-div">
      <div class="like-icon-div">
        <label for="card-4-like" class="like-icon-div-child">
          <input type="checkbox" id="card-4-like" />
          <i class="far fa-heart heart-empty"></i>
          <i class="fas fa-heart heart-fill"></i>
        </label>
      </div>
      <div class="u4-img-div img-div">
        <img
          src="https://github.com/gerrardNwoke/codePen-imgs/blob/main/imgs/u4-figurine.png?raw=true"
          alt="u4-figurine"
        />
      </div>
      <div class="text-container">
        <h2 class="item-name">
          Nathan Drake Statue - Uncharted 4: A Thief's End
        </h2>
        <p class="date">Departure date: 31/03/2021</p>
        <div class="pricing-and-cart">
          <div class="pricing">
            <p class="previous-price">$759</p>
            <p class="current-price">$499</p>
          </div>
          <i class="fas fa-shopping-cart"></i>
        </div>
      </div>
    </div>
  </div>
</div>
