<div class="navHolder navbar-light bg-light fixed-top">
  <nav class="navbar navbar-expand-lg">
    <a style="font-size: 700" class="navbar-brand" href="#">Naxian Fashion</a>
    <button
      class="navbar-toggler"
      type="button"
      data-toggle="collapse"
      data-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li>
          <form class="form-inline" class="serch_f" (ngSubmit)="searchProducts(f)" #f="ngForm">
            <input
            ngModel
            name="search"
              class="form-control mr-sm-2"
              type="search"
              placeholder="Search"
              aria-label="Search"
            />
            <button type="submit" class="btn btn-outline-dark my-2 my-sm-0" type="submit">
              <span style="margin-right: 5px">Search</span>
              <i
                style="display: inline"
                class="fa fa-search"
                aria-hidden="true"
              ></i>
            </button>
          </form>
        </li>
        <form class="d-flex floot">
          <button
            class="btn btn-outline-dark"
            type="submit"
            style="margin-right: 10px"
            (click)="onAddToWishlist({})"
          >
            <i class="fa fa-heart"></i>
            Wishlist
            <span class="badge bg-dark text-white ms-1 rounded-pill">{{
              wishListItems
            }}</span>
          </button>

          <button
            class="btn btn-outline-dark"
            type="submit"
            style="margin-right: 30px"
            (click)="onAddToCart({})"
          >
            <!-- <i class="fa fa-cart"></i> -->
            <i class="fa fa-shopping-cart" aria-hidden="true"></i>
            Cart
            <span class="badge bg-dark text-white ms-1 rounded-pill">
              <span>{{ cartItems }}</span></span
            >
          </button>
        </form>
        <li class="nav-item">
          <a class="nav-link" routerLink="/contact">Contact Us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/login">SignUp/Login</a>
        </li>

        <!-- User Propile -->
        <li class="nav-item dropdown pe-3">
          <a
            class="nav-link nav-profile d-flex align-items-center pe-0"
            
            data-bs-toggle="dropdown"
          >
            <!-- <img
              src="https://lh3.googleusercontent.com/a/AGNmyxYR5ARZCLNm2zuAGWxeCuHWmdlwreAWgoQfdlkz=s96-c-rg-br100"
              alt="Profile"
              class="rounded-circle"
            /> -->
            <i class="fas fa-user"></i>
            <span class="d-none d-md-block dropdown-toggle ps-2"
              >Riyaz Uddin</span
            > </a
          ><!-- End Profile Iamge Icon -->
  
          <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow profile">
            <li class="dropdown-header">
              <h6>Riyaz Uddin</h6>
              <span>Java Developer</span>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
  
            <li >
              <a (click)="goToUrPropile()"
                class="dropdown-item d-flex align-items-center"
               
              >
                <i class="bi bi-person"></i>
                <span>My Profile</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
  
            <li>
              <a
                class="dropdown-item d-flex align-items-center"
               
              >
                <i class="bi bi-gear"></i>
                <span>Account Settings</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
  
            <li>
              <a
                class="dropdown-item d-flex align-items-center"
                href="pages-faq.html"
              >
                <i class="bi bi-question-circle"></i>
                <span>Need Help?</span>
              </a>
            </li>
            <li>
              <hr class="dropdown-divider" />
            </li>
  
            <li>
              <a class="dropdown-item d-flex align-items-center" (click)="deleteUser()">
                <i class="bi bi-box-arrow-right"></i>
                <span>Sign Out</span>
              </a>
            </li>
          </ul>
          <!-- End Profile Dropdown Items -->
        </li>
        <!-- <li>
          <div class="profile-dropdown">
            <a href="#" class="profile-btn">
              <i class="fas fa-user"></i>
            </a>
            <div class="profile-content">
              <p>Logged in as {{ userName }}</p>
              
              <button (click)="deleteUser()">
                <i class="fa fa-sign-out" aria-hidden="true"></i> Log Out
              </button>
            </div>
          </div>
        </li> -->
      </ul>
    </div>
  </nav>
</div>
