.serch_f {
  display: flex;

  margin: 0% 5rem;
  button {
    margin-left: 0.5rem;
  }
}

.navHolder {
  display: grid;
  place-items: center;
}

// user
.profile-dropdown {
  position: relative;
}

.profile-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  width: 23px;
  margin-top: 5px;
  color: #333;
  border-radius: 50%;
  text-decoration: none;
  transition: all 0.3s ease;
}

.profile-btn:hover {
  background-color: #555;
}

.profile-content {
  position: absolute;
  top: 100%;
  right: 0;
  min-width: 150px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #333;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  opacity: 0;
  visibility: hidden;
  transform: translateY(-10px);
  transition: all 0.3s ease;
}

.profile-dropdown:hover .profile-content {
  opacity: 1;
  visibility: visible;
  transform: translateY(0);
  animation: dropdown 0.3s;
}

.profile-content p {
  margin: 0 0 10px;
  font-size: 14px;
  font-weight: bold;
}

.profile-content button {
  display: block;
  width: 100%;
  padding: 5px 10px;
  background-color: #333;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  border: 2px solid #333;
  transition: all 0.3s ease;
}

.profile-content button:hover {
  background-color: #fff;
  color: #333;
}

@keyframes dropdown {
  from {
    transform: translateY(-10px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}


li{
  cursor: pointer;
}