<footer>
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h3>ABOUT US</h3>
        <p>
          <i class="fas fa-map-marker-alt"></i> Address: Road No 3, Block A,
          Rumpura Banasree, Dhaka
        </p>
        <p><i class="fas fa-phone"> Phone: </i> 555-1234</p>
        <p><i class="fas fa-envelope"></i> Email: info@example.com</p>
      </div>
      <div class="col-md-4">
        <h3>INFORMATION</h3>
        <ul>
          <li><a href="#">Our Mission</a></li>
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Contact Us</a></li>
          <li><a href="#">Orders and Returns</a></li>
          <li><a href="#">Terms & Conditions</a></li>
        </ul>
      </div>
      <div class="col-md-4">
        <h3>SERVICES</h3>
        <ul>
          <li><a href="#">My account</a></li>
          <li><a href="#">Track My Order</a></li>
          <li><a href="#">Help</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
