// booking

.for_grid-child {
  margin-top: 70px;
  display: grid;
  place-items: center;
  .input {
    margin-bottom: 20px;
    margin-top: 5px;
    width: 330px;
    height: 2.3rem;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #bbd8ff;
    background-color: rgba(#bbd8ff, 0.5);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
  }
}
.op {
  color: red;
}
.for_grid {
  max-width: 420px;
}
@media screen and (min-width: 420px) {
  .for_grid {
    max-width: 100vw;
  }
}
.enter {
  margin-bottom: 20px;
  h2 {
    font-size: 1.3rem;
  }
  p {
    font-size: 0.8rem;
    color: #333;
  }
}
.names {
  #op {
    font-size: 0.8rem;
    color: #333;
  }
  #ok {
    margin-bottom: 20px;
    margin-top: 5px;
    width: 330px;
    border-radius: 5px;
    font-size: 1rem;
    padding: 10px;
    border: 1px solid #bbd8ff;
    background-color: rgba(#bbd8ff, 0.5);
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.15);
    border: none;
  }
}
.payment_logo-holder {
  margin-bottom: 10px;
  #nagad {
    margin: 10px 0px;
  }
  #rocket {
    margin: 17px 0px;
  }
  display: flex;
  img,
  input {
    cursor: pointer;
  }
  input {
    transform: translateX(-45px);
  }
}
.payment_holder #submit {
  width: 330px;
  margin: 1.5rem 0px;
  cursor: pointer;
  padding: 10px;
  border-radius: 5px;
  font-size: 1.1rem;
  border: none;
  background-color: #0979c9;
  color: #fff;
}

// ----//
.dialog-content {
  // max-height: 380px; /* subtract padding/margin */
  width: 65vw;
  min-height: 95vh;
  overflow-y: auto;
}
